# deps
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# env — NUNCA commitar!
.env
.env.local
.env.*.local

# debug
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# Supabase
supabase/.temp/
